@page
@model ChinookHTMX.Pages.Invoices.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Invoice</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Invoice.Id"/>
            <div class="form-group">
                <label asp-for="Invoice.CustomerId" class="control-label"></label>
                <select asp-for="Invoice.CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="Invoice.CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.InvoiceDate" class="control-label"></label>
                <input asp-for="Invoice.InvoiceDate" class="form-control"/>
                <span asp-validation-for="Invoice.InvoiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.BillingAddress" class="control-label"></label>
                <input asp-for="Invoice.BillingAddress" class="form-control"/>
                <span asp-validation-for="Invoice.BillingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.BillingCity" class="control-label"></label>
                <input asp-for="Invoice.BillingCity" class="form-control"/>
                <span asp-validation-for="Invoice.BillingCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.BillingState" class="control-label"></label>
                <input asp-for="Invoice.BillingState" class="form-control"/>
                <span asp-validation-for="Invoice.BillingState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.BillingCountry" class="control-label"></label>
                <input asp-for="Invoice.BillingCountry" class="form-control"/>
                <span asp-validation-for="Invoice.BillingCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.BillingPostalCode" class="control-label"></label>
                <input asp-for="Invoice.BillingPostalCode" class="form-control"/>
                <span asp-validation-for="Invoice.BillingPostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.Total" class="control-label"></label>
                <input asp-for="Invoice.Total" class="form-control"/>
                <span asp-validation-for="Invoice.Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>