@page
@model ChinookHTMX.Pages.Tracks.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Track</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Track.Name" class="control-label"></label>
                <input asp-for="Track.Name" class="form-control"/>
                <span asp-validation-for="Track.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Track.AlbumId" class="control-label"></label>
                <select asp-for="Track.AlbumId" class="form-control" asp-items="ViewBag.AlbumId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Track.MediaTypeId" class="control-label"></label>
                <select asp-for="Track.MediaTypeId" class="form-control" asp-items="ViewBag.MediaTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Track.GenreId" class="control-label"></label>
                <select asp-for="Track.GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Track.Composer" class="control-label"></label>
                <input asp-for="Track.Composer" class="form-control"/>
                <span asp-validation-for="Track.Composer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Track.Milliseconds" class="control-label"></label>
                <input asp-for="Track.Milliseconds" class="form-control"/>
                <span asp-validation-for="Track.Milliseconds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Track.Bytes" class="control-label"></label>
                <input asp-for="Track.Bytes" class="form-control"/>
                <span asp-validation-for="Track.Bytes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Track.UnitPrice" class="control-label"></label>
                <input asp-for="Track.UnitPrice" class="form-control"/>
                <span asp-validation-for="Track.UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>