@model ChinookHTMX.Pages.MediaTypes.DetailsModel

<div id="details-mediaType-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div id="modal-body" class="modal-content">
            <div class="modal-body">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h4 class="m-0 font-weight-bold text-primary">MediaType Details</h4>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close">
                        </button>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.MediaType.Name)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.MediaType.Name)
                            </dd>
                        </dl>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function showModal() {
        const modal = new bootstrap.Modal('#details-mediaType-modal');
        modal.show();
    }
    // scopes the modal so we can keep creating them
    showModal();
</script>