<!-- Navbar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a asp-page="../../index.html" class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Chinook HTMX</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a asp-page="../../index" class="nav-link">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Music
    </div>

    <!-- Nav Item - Artists -->
    <li class="nav-item">
        <a asp-page="/Artists/Index" class="nav-link">
            <i class="fas fa-fw fa-table"></i>
            <span>Artists</span>
        </a>
    </li>

    <!-- Nav Item - Albums -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/Albums/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Albums</span>
        </a>
    </li>

    <!-- Nav Item - Tracks -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/Tracks/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Tracks</span>
        </a>
    </li>

    <!-- Nav Item - Playlists -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/Playlists/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Playlists</span>
        </a>
    </li>

    <!-- Nav Item - Genres -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/Genres/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Genres</span>
        </a>
    </li>

    <!-- Nav Item - Media Types -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/MediaTypes/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Media Types</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Admin
    </div>

    <!-- Nav Item - Customers -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/Customers/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Customers</span>
        </a>
    </li>

    <!-- Nav Item - Employees -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/Employees/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Employees</span>
        </a>
    </li>

    <!-- Nav Item - Invoices -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/Invoices/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Invoices</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

</ul>
<!-- End of Navbar -->