@page "/BulkUpdate"
@using htmx_examples_blazor.Pages.BulkUpdate
@inject IContactService service;

<PageTitle>Bulk Update</PageTitle>

<div hx-include="#checked-contacts" hx-target="#tbody">
    <button class="btn btn-primary btn-icon-split" hx-put="/BulkUpdate/Activate">Activate</button>
    <button class="btn btn-primary btn-icon-split" hx-put="/BulkUpdate/Deactivate">Deactivate</button>
</div>

@if (ContactTableRows != null && ContactTableRows.Count() > 0)
{
    <form id="checked-contacts">
        <AntiforgeryToken />
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
            </tr>
            </thead>

            <tbody id="tbody">
            <TableBody Model="ContactTableRows" />
            </tbody>
        </table>
    </form>
}

@code {
    private List<Contact>? ContactTableRows = [];

    protected override void OnInitialized()
    {
        ContactTableRows = service.Get().ToList();
    }
}