@model string
@{
    string? validationError = ViewData["InvalidEmailMessage"]?.ToString();
    bool hasError = !String.IsNullOrEmpty(validationError);
}
<div hx-target="this" hx-swap="outerHTML" class="@(hasError ? "val-error" : string.Empty)">
    <label class="control-label">Email Address</label>
    <input name="email" hx-post="/InlineValidation?handler=email" hx-indicator="#ind" value="@Model" invalid="@(hasError.ToString().ToLower())" class="form-control">
    <img id="ind" src="/img/bars.svg" class="htmx-indicator"/>
    @if (hasError)
    {
        <div class='error-message'>@validationError</div>
    }
</div>