@page "{handler?}"
@model htmx_examples.Pages.DeleteRow.IndexModel

@{
    ViewData["Title"] = "Index";
}

<!-- Main Content -->
<div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Delete Row</h4>
            </div>
            <div class="card-body">

                @if (Model?.Contacts?.Count() > 0)
                {
                    <div class="table-responsive">
                        <table class="table table-bordered delete-row-example">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody hx-confirm="Are you sure?" hx-target="closest tr" hx-headers='{"RequestVerificationToken": "@Model.RequestToken"}' hx-swap="outerHTML swap:1s">
                            @foreach (var contact in Model.Contacts)
                            {
                                <partial name="_TableRow" model="@contact"/>
                            }
                            </tbody>
                        </table>
                    </div>
                }

            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->