@page "{handler?}"
@model htmx_examples.Pages.DeleteRow.IndexModel

@{
    ViewData["Title"] = "Index";
}

                                                                                                                                                                                                                                                                                     @if (Model?.Contacts?.Count() > 0){
<table class="table delete-row-example">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
        <tbody hx-confirm="Are you sure?" hx-target="closest tr" hx-headers='{"RequestVerificationToken": "@Model.RequestToken"}' hx-swap="outerHTML swap:1s">
        @foreach(var contact in Model.Contacts){
            <partial name="_TableRow" model="@contact" />
        }
    </tbody>
</table>
}