@page
@model htmx_examples.Pages.BulkUpdate.Index

@{
    ViewData["Title"] = "Index";
}

<!-- Main Content -->
<div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Bulk Update</h4>
            </div>
            <div class="card-body">

                <div hx-include="#checked-contacts" hx-target="#tbody">
                    <button class="btn btn-primary btn-icon-split" hx-put="/BulkUpdate/Index?handler=activate">Activate</button>
                    <button class="btn btn-primary btn-icon-split" hx-put="/BulkUpdate/Index?handler=deactivate">Deactivate</button>
                </div>

                @if (Model.ContactTableRows != null && Model.ContactTableRows.Count() > 0)
                {
                    <form id="checked-contacts">
                        @Html.AntiForgeryToken()
                        <table>
                            <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Status</th>
                            </tr>
                            </thead>

                            <tbody id="tbody">
                            <partial name="BulkUpdate/_tbody" model="@Model.ContactTableRows"/>
                            </tbody>
                        </table>
                    </form>
                }

            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->

<div id="modal"></div>