@model IFormFile

<form id='form' hx-encoding='multipart/form-data' hx-post='/FileUpload/index?handler=upload'>
    @Html.AntiForgeryToken()
    <input name="UploadedFile" asp-for="@Model">
    <button class="btn btn-primary">
        Upload
    </button>
    <progress id="js_progress" value='0' max='100'></progress>
</form>
<script>
    htmx.on('#form', 'htmx:xhr:js_progress', function (evt) {
        htmx.find('#progress').setAttribute('value', evt.detail.loaded / evt.detail.total * 100)
    });
</script>