<!-- Navbar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a asp-page="../../index.html" class="sidebar-brand d-flex align-items-center justify-content-center" hx-boost="true">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">HTMX Examples</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a asp-page="../../index" class="nav-link">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - ActiveSearch -->
    <li class="nav-item">
        <a asp-page="/ActiveSearch/Index" class="nav-link">
            <i class="fas fa-fw fa-table"></i>
            <span>Active Search</span>
        </a>
    </li>

    <!-- Nav Item - BulkUpdate -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/BulkUpdate/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Bulk Update</span>
        </a>
    </li>

    <!-- Nav Item - ClickToEdit -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/ClickToEdit/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Click To Edit</span>
        </a>
    </li>

    <!-- Nav Item - ClickToLoad -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/ClickToLoad/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Click To Load</span>
        </a>
    </li>

    <!-- Nav Item - DeleteRow -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/DeleteRow/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Delete Row</span>
        </a>
    </li>

    <!-- Nav Item - EditRow -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/EditRow/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Edit Row</span>
        </a>
    </li>

    <!-- Nav Item - FileUpload -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/FileUpload/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>File Upload</span>
        </a>
    </li>

    <!-- Nav Item - InfiniteScroll -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/InfiniteScroll/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Infinite Scroll</span>
        </a>
    </li>

    <!-- Nav Item - InlineValidation -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/InlineValidation/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Inline Validation</span>
        </a>
    </li>

    <!-- Nav Item - LazyLoading -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/LazyLoading/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Lazy Loading</span>
        </a>
    </li>

    <!-- Nav Item - ProgressBar -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/ProgressBar/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Progress Bar</span>
        </a>
    </li>

    <!-- Nav Item - Selects -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/Selects/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Selects</span>
        </a>
    </li>

    <!-- Nav Item - Tabs -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/Tabs/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Tabs</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

</ul>
<!-- End of Navbar -->