@page "/ActiveSearch"
@inject AntiforgeryStateProvider Antiforgery

<PageTitle>Active Search</PageTitle>

<h3>
    Search Countries
    <span class="htmx-indicator">
        <img src="/img/bars.svg"/> Searching...
    </span>
</h3>
<input class="form-control" type="search"
        name="searchText" placeholder="Begin Typing To Search Users..."
        hx-post="/ActiveSearch/search"
        hx-trigger="keyup changed delay:500ms, search"
        hx-target="#search-results"
        hx-indicator=".htmx-indicator" hx-headers='{"RequestVerificationToken": "@_token"}'>

<table class="table">
    <thead>
    <tr>
        <th>Country</th>

    </tr>
    </thead>
    <tbody id="search-results">
    </tbody>
</table>

@code {
    private string? _token = "";

    protected override void OnInitialized()
    {
        _token = Antiforgery.GetAntiforgeryToken()?.Value;
    }

}