@{
    string PercentDone = ViewData["PercentDone"].ToString();
}

<div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="@PercentDone" aria-labelledby="pblabel">
    <div id="pb" class="progress-bar" style="width:@PercentDone%">
    </div>

</div>