@page "{handler?}"
@model htmx_examples.Pages.InfiniteScroll.IndexModel

@{
    ViewData["Title"] = "Index";
}

<!-- Main Content -->
<div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Infinite Scroll</h4>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th><th>Email</th><th>ID</th>
                        </tr>
                        </thead>
                        <tbody>
                        <partial name="_PageResult" model="@Model.Contacts"/>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->