@model ChinookHTMX.Pages.InvoiceLines.CreateModel

<div id="create-invoiceLine-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div id="modal-body" class="modal-content">
            <div class="modal-body">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h4 class="m-0 font-weight-bold text-primary">Create InvoiceLine</h4>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close">
                        </button>
                    </div>
                    <div class="card-body">
                        <form id="CreateForm" method="post"
                              hx-post="@Url.PageLink("/InvoiceLines/Create")"
                              hx-target="#model-results">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="InvoiceLine.Id" class="control-label"></label>
                                <input asp-for="InvoiceLine.Id" class="form-control"/>
                                <span asp-validation-for="InvoiceLine.Id" class="text-danger"></span>
                            </div>
                            @Html.AntiForgeryToken()
                        </form>
                        <div id="model-results"></div>
                    </div>
                    <div class="modal-footer">
                        <button form="CreateForm"
                                type="submit"
                                class="btn btn-primary">
                            Create
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function showModal() {
        const modal = new bootstrap.Modal('#create-invoiceLine-modal');
        modal.show();
    }
    // scopes the modal so we can keep creating them
    showModal();
</script>