@page "/"
@model Exercises.End.Pages.Index
@{ 
    ViewBag.Title = "Home";
}

<markdown>
    # HTMX Tutorial <br/> <span class="fs-3"> For ASP.NET Core Developers</span>
    ---
    
    **_Let's Get Started!_**

    ## Exercises
    
    Be sure to look at the code to see how it all comes together.

    1. <a asp-page="01_HelloWorld">Hello World</a>
    1. <a asp-page="02_Counter">Counter</a>
    1. <a asp-page="03_Selects">Select (Dropdowns)</a>
    1. <a asp-page="04_Search">Search</a>
    1. <a asp-page="05_Scroll">Scroll</a>
    1. <a asp-page="06_Modal">Modal</a>
    1. <a asp-page="07_Tabs">Tabs</a>
    1. <a asp-page="08_Shortcuts">Shortcuts</a>
    1. <a asp-page="09_FormValidation">Form Validation</a>

</markdown>